body {
    /* background-color: lightgray; */
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--bs-border-width) solid var(--bs-border-color);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.navbar {
    margin-bottom: 20px;
}

.loading-container {
    text-align: center;
    margin-top: 50px;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}