<!DOCTYPE html>
<html>
<head>
    <title>My Symfony + Vue.js App</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    <div id="app"></div>
    {{ encore_entry_script_tags('app') }}
</body>
</html>
